@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg{
    background-color: #225db0;
}
.front-card{
    background-color: #ffffff;
    margin: 20px;
    height: 130px;
    width: 130px;
    border-radius: 8px;

}
.front-card-heading{
    color: #1f2933;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 5px;
    margin-left: 25px;
}
.logo-front{
    height: 80px;
    width: 80px;
    margin-left:20px ;
    margin-top: 10px;
}
.front-card-heading2{
    color: #1f2933;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 5px;
    margin-left: 29px;
}
.front-heading{
    color: #ffffff;
    font-size: 32px;
    font-family: "roboto";
    padding-top: 40px;
    margin-left: 45px;
    
}
.front-paragraph{
    color: #ffffff;
    font-size: 15px;
    font-family: "roboto";
    padding-top: 5px;
    margin-left: 45px;
    font-weight: 100;
    
}
.carousel-item img {
  height: 200px;      /* change this value */
  object-fit: cover;
  width: 200px;
  
}
.coro{
    padding-top:40px ;
    padding-left: 40px;
    padding-right: 40px;
}
/* ROUND THE CAROUSEL */
#carouselExampleIndicators {
  border-radius: 30px;
  overflow: hidden;   /* THIS IS THE KEY LINE */
}

/* ALSO ROUND IMAGES (optional but recommended) */
.carousel-item img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.button{
    border-color: white;
    background-color: #225db0;
    font-family: "roboto";
    color: white;
    margin-left: 200px;
    margin-bottom: 20px;
}
#carouselExampleIndicators2 {
  border-radius: 30px;
  overflow: hidden;   /* THIS IS THE KEY LINE */
}




